@import 'main';
@import 'variables';

$border-radius-boxes: 30px;

/* MAIN CONTENT */
#main-content {
    position: relative;
    top: 90px;
    width: 100%;
    height: auto;
    // border: 2px red solid;   

    // SECTION A: Feedback Form
    #section-a {
        position: relative;
        top: 10px;
        padding: 90px 0;
        margin-bottom: 90px;
        display: flex;
        justify-content: center;
        // border: 2px red solid;
        height: auto;
        color: $main-txt-color;

        h1 {
            font-family: $font-krona;
            text-align: center;
            font-size: 2rem;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
            line-height: 23px;
            margin-top: 20px;
        }

        // Message box
        #msg-box {
            position: relative;
            background-color: $hoddle-green;
            width: 25vw;
            height: auto;
            border-radius: $border-radius-boxes;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
            margin-top: auto;
            margin-bottom: auto;

            #gif-cat {
                position: absolute;
                left: 50%;
                top: -84px;
                transform: translateX(-50%);
                width: 100px;
                height: auto;
            }

            #img-arrow {
                width: 12vw;
                height: 120px;
                margin-left: auto;
                margin-right: 20px;
                margin-top: 20px;
            }
        }

        // Form box
        #form-box {
            background-color: lighten($main-bg-color, 10%);
            width: 30vw;
            height: auto;
            border-radius: $border-radius-boxes;
            padding: 30px;
            margin-top: auto;
            margin-bottom: auto;

            form {
                font-size: 1.2rem;
            }

            // Style all inputs
            input,
            textarea {
                width: 100%;
                padding: 5px;
                border: 4px solid $hoddle-green;
                border-radius: 5px;
                box-sizing: border-box;
                margin-bottom: 10px;
                resize: vertical;
                font-size: 1rem;
                background-color: white;
                // color: white;

                // Input focus 
                &:focus {
                    outline: 2px solid white;
                    outline-offset: 1px;
                }
            }

            // Style button
            button {
                margin-top: 10px;
                position: relative;
                background-color: $hoddle-green;
                color: white;
                font-weight: bold;
                font-size: 1.1vw;
                font-family: $font-krona;
                padding: 7px;
                width: 23%;
                border: 0px;
                border-radius: 40px;
                text-align: center;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: darken($hoddle-green, 10%);
                }
            }
        }
    }
}

/* For Tablet screens (over 480px and under 800px) */
@media only screen and (min-width: 480px) and (max-width: 800px) {
    #main-content {
        #section-a {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 150px 0;
            gap: 2rem;

            p {
                font-size: 1.4rem;
            }

            #msg-box {
                width: 70vw;
            }

            #form-box {
                width: 85vw;

                form {
                    font-size: 1.4rem;
                }

                input,
                textarea {
                    font-size: 1.4rem;
                }

                button {
                    font-size: 3vw;
                    width: 45%;
                }
            }
        }
    }
}

/* For Phone screens (under 480px) */
@media only screen and (max-width: 480px) {
    #main-content {
        #section-a {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 80px 0;
            gap: 2rem;

            p {
                font-size: 1.2rem;
            }

            #msg-box {
                width: 70vw;
            }

            #form-box {
                width: 83vw;

                form {
                    font-size: 1.2rem;
                }

                input,
                textarea {
                    font-size: 1.2rem;
                }

                button {
                    font-size: 5vw;
                    width: 50%;
                }
            }
        }
    }
}